:root {
  
}

pre, p {
  white-space: pre-wrap;       /* Leaves spaces, but wraps text naturally */
  word-wrap: break-word;       /* Legacy support for older browsers */
  overflow-wrap: break-word;   /* Forces long strings (like URLs) to break */
}

.scroll-container {
  height: 100%;
  width: 100%;

  overflow-y: auto;

  contain: size; 
}

.stack {
  display: grid;
  @media (width > 800px) {
    grid-auto-flow: column;
    grid-auto-columns: 1fr;
  }

  @media (width <= 800px) {
    grid-template: "cell";
    & > * {
      grid-area: cell;
    }

    & > *:not(:last-child) {
      display: none;
    }
  }

}
